:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-gray-dark: #333333;
    --color-gray-medium: #888888;
    --color-gray-light: #dddddd;
    --color-desktop-bg: #999999;
}

/* Сброс стилей и база */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Press Start 2P', 'Courier Prime', monospace;
    font-size: 11px;
    background-color: #a0a0a0; 
    background-image: radial-gradient(rgba(0, 0, 0, 0.12) 25%, transparent 25%), radial-gradient(rgba(0, 0, 0, 0.12) 25%, transparent 25%);
    background-size: 4px 4px;
    background-position: 0 0, 2px 2px;
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    user-select: none;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

ul {
    list-style: none;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

input {
    padding: 10px;
    font-family: 'Courier Prime', monospace;
    font-size: 14px;
    border: 2px solid var(--color-black);
    background-color: var(--color-white);
    outline: none;
}

    input:focus {
        background-color: var(--color-gray-light);
    }

hr {
    border: none;
    height: 2px;
    background-color: var(--color-black);
    margin-bottom: 25px;
}
